<footer>
    <div class="d-flex col h-4 mt-4 p-5 justify-content-center align-items-center footer-item">
        <ul class="footer-item ">
            <li>
                <a href="#home">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#home">
                    <span>About</span>
                </a>
            </li>
        </ul>
        <small>&copy;Vue Movies EJS 2021</small>
    </div>
</footer>
</body>
<script src="js/movies.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.js"></script>
</html>