<nav class="sidebar">
    <ul class="d-flex sidebar-item col justify-content-space-around">
        <li class="">
            <a href="#home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#jumbotron">
                <span>About</span>
            </a>
        </li>
    </ul>
</nav>